<!DOCTYPE html>
<html lang="cs-cz">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<div class="alert alert-warning" th:text="${warning}" th:if="${warning}"></div>
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-md-2 text-center">
            <img src="/images/avatar.png" height="140px" style="max-width: 100%; height: 140px;">
        </div>
        <div class="col-md-10">
            <h2 th:text="${insured.name} + ' ' + ${insured.surname}"></h2>
            <div class="row">
                <div class="col-md-6">
                    <p th:text="${insured.street}" class="mb-1"></p>
                </div>
                <div class="col-md-6">
                    <p th:text="${insured.email}" class="mb-1"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p th:text="${insured.city}" class="mb-1"></p>
                </div>
                <div class="col-md-6">
                    <p th:text="${insured.phone}" class="mb-1"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p th:text="${insured.postCode}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h2>Sjednaná pojištění</h2>
    <table class="table table-bordered border mt-4">
        <thead>
        <tr>
            <th>Pojištění</th>
            <th>Částka</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="insured :${insured}">
            <td>
                <a th:href="@{/pojisteni-app/pojistenci/detail/{id}(id=${insured.id})}"
                   th:text="${insured.name} + ' ' + ${insured.surname}"></a>
            </td>
            <td th:text="${insured.street} + ', ' + ${insured.city}"></td>

            <td class="d-flex justify-content-center" sec:authorize="hasRole('ADMIN')">
                <button class="btn btn-danger me-2" type="button">Odstranit</button>
                <a class="btn btn-warning white" href="#">Editovat</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center" sec:authorize="hasRole('ADMIN')">
        <button class="btn btn-primary me-2" role="button">Přidat pojištění</button>
        <a th:href="@{/pojisteni-app/pojistenci/edit/{id}(id=${insured.id}, redirect='detail')}"
           class="btn btn-warning white me-2">Editovat pojištěnce</a>
        <a th:href="@{/pojisteni-app/pojistenci/odstranit/{id}(id=${insured.id})}"
           class="btn btn-danger">Odstranit pojištěnce</a>
    </div>
</div>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>
